.hide-comments #comments {
  visibility: hidden !important;
}

.hide-related #related {
  visibility: hidden !important;
}

.hide-end-screen .html5-endscreen {
  visibility: hidden !important;
}

.hide-ad-overlay .video-ads.ytp-ad-module {
  visibility: hidden !important;
}
