.switcher_slider {
  display: flex;
  align-items: center;
  width: 40px;
  height: 20px;
  border-radius: 29px;
  background-color: #f16132;
  cursor: pointer;
  transition: background-color .5s;
}

.switcher_slider.checked {
  background-color: #1ebc8e;
}

.switcher_slider:before {
  display: block;
  content: "";
  width: 12px;
  height: 12px;
  background-color: #fff;
  border-radius: 12px;
  position: relative;
  left: calc(0% + 5px);
  transition: left .5s;
}

.switcher_slider.checked:before {
  left: calc(100% - 17px);
}

.switch {
  display: flex;
}
