@import '../styles/link-item.scss';


body {
  margin: 0;
}

.main-content {
  display: grid;
  grid-template-columns: minmax(166px, 17%) 1fr;
}

.switch-list-container {
  background: #3f414a;
  color: #eaeaea;
  min-width: 166px;
}

.switcher_slider {
  display: flex;
  align-items: center;
  width: 40px;
  height: 20px;
  min-width: 40px;
  border-radius: 29px;
  background-color: #f16132;
  cursor: pointer;
  transition: background-color .5s;
}

.switcher_slider.checked {
  background-color: #1ebc8e;
}

.switcher_slider:before {
  display: block;
  content: "";
  width: 12px;
  height: 12px;
  background-color: #fff;
  border-radius: 12px;
  position: relative;
  left: calc(0% + 5px);
  transition: left .5s;
}

.switcher_slider.checked:before {
  left: calc(100% - 17px);
}

.switch {
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.switch-container {
  margin: 20px;
}

.switch-show {
  width: 40px;
}

.switch-hide {
  display: flex;
  justify-content: flex-end;
  width: 40px;
}


.link-lists-container {
  display: grid;
  grid-template-columns: 50% 50%;
}

.link-list {
  display: inline-block;
  min-width: 200px;
}

.link-list.right .link-item-container {
  border-right: 1px solid black;
}

.allowed-title {
  text-align: center;
  margin: 10px 0;
}

.link-item-container {
  border-top: 1px solid #ccc;
  padding: 0 5px;
  position: relative;
}

.link-item-container:last-child {
  border-bottom: 1px solid #ccc;
}

.link-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 3px;
  color: #777;
  font-size: 13px;
}

.link-item svg {
  font-size: 15px;
}

.link-item a {
  display: inline-block;
  text-decoration: none;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: #3B4679;
}

.link-item a:visited {
  color: #3b46aa;
}

.link-item a:hover {
  text-decoration: underline;
}

.icon-container:hover {
  color: black;
}

.icon-container {
  display: inline-block;
  margin-left: 10px;
}

@media screen and (max-width: 790px) {
  .link-lists-container {
    display: block;
    grid-template-columns: none;
  }
  .main-content {
    display: flex;
    grid-template-columns: none;
  }

  .link-list.right .link-item-container {
    border-right: none;
  }

}

.thumbnail-img-container {
  position: absolute;
  right: -200px;
  top: 0;
  visibility: hidden;
  z-index: 10;
  width: 200px;
}

.thumbnail-img-container img {
  width: 200px;
}

.link-item-container:hover .thumbnail-img-container {
  transition: visibility 0s 0.10s;
  visibility: visible;
}
