
.main-content {
  display: grid;
  grid-template-columns: minmax(150px,17%) 83%;
}

.switch-list-container {
  background: #3f414a;
  color: #eaeaea;
  min-width: 150px;
}

.switcher_slider {
  display: flex;
  align-items: center;
  width: 40px;
  height: 20px;
  min-width: 40px;
  border-radius: 29px;
  background-color: #f16132;
  cursor: pointer;
  transition: background-color .5s;
}

.switcher_slider.checked {
  background-color: #1ebc8e;
}

.switcher_slider:before {
  display: block;
  content: "";
  width: 12px;
  height: 12px;
  background-color: #fff;
  border-radius: 12px;
  position: relative;
  left: calc(0% + 5px);
  transition: left .5s;
}

.switcher_slider.checked:before {
  left: calc(100% - 17px);
}

.switch {
  display: flex;
}

.switch-container {
  margin: 20px;
}


.link-lists-container {
  display: grid;
  grid-template-columns: 45% 55%;
}

.link-list {
  /* padding: 20px; */
  display: inline-block;
  /* display: flex;
  flex-direction: column; */
  padding: 5px;
  min-width: 200px;
}

.allowed-title {
  text-align: center;
  margin: 10px 0;
}

.link-item-container {
  border-top: 1px solid #333;

}

.link-item-container:last-child {
  border-bottom: 1px solid #333;
}

.link-item {
  display: flex;
  align-items: center;
  margin: 10px 0;
  padding: 3px;
  color: #777;
  font-size: 13px;
}

.link-item svg {
  font-size: 15px;
}

.link-item a {
  display: inline-block;
  text-decoration: none;
  /* min-width: 250px; */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.link-item a:hover {
  text-decoration: underline;
}

.icon-container:hover {
  color: black;
}

.icon-container {
  display: inline-block;
  margin-left: 10px;
}

@media screen and (max-width: 790px) {
  .link-lists-container {
    display: block;
    /* flex-direction: column; */
    grid-template-columns: none;
  }
  .main-content {
    display: flex;
    grid-template-columns: none;
  }

}
