.duration-container {
  background-color: hsl(0, 0%, 6.7%);
  opacity: .8;
  position: absolute;
  border-radius: 2px;
  right: 4px;
  bottom: 4px;
  color: white;
  padding: 2px 4px;
  z-index: 5;
}

.img-duration-container {
  position: relative;
  width: 220px;
}

.img-duration-container img {
  width: 220px;
}

.vid-info {
  margin-left: 16px;
}
